# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Static and media (if not using external storage)
/static/
/media/

# Byte-compiled files
*.py[co]